{% block start %}
<div class="continer">
    <form method="post" class="form" id="form">
        {% csrf_token %}
        <h4>Change Password</h4>
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

     
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="new_password"  class="form-control">
           
        </div>



        <div class="form-group">
            <label for="password">Re confirm password</label>
            <input type="password" name="reconfirm_password"   class="form-control">
           
        </div>


        <input type="hidden" name="user_id" value="{{user_id}}">
        
       
        <button class="btn" type="submit">Submit</button>

    </form>
</div>

{% endblock %}