{% comment %} {% extends 'base.html' %}

{% block title %}Login Page{% endblock title %}

{% block content %} 
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}                
        {{ form.as_p }}
        <button type="submit">Login</button>
        <br><br>
        <a href="{% url 'password_reset' %}">Forgot Password</a>
        <br><br>
        <a href="{% url 'signup' %}">Sign Up</a>
        <br><br>        
    </form>
{% endblock content %} {% endcomment %}

{% block start %}
<div class="continer">
    <form method="post" class="form" id="form">

        <h1>Login</h1>
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username"  class="form-control">
        
        </div>

        <br><br>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password"  class="form-control">
           
        </div>
        <br><br>
        
        <a href="{% url 'password_reset'%}">Forget Password</a>
        <br><br>
        <a href="{% url 'signup'%}">Sign Up</a>
        <br><br>
        <button class="btn btn-danger mt-4" type="submit">Submit</button>

    </form>
</div>

{% endblock %}