{% block start %}
<div class="continer">
    <form method="post" class="form" id="form">
        {% csrf_token %}
        
        <h1>Signup</h1>
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username"  class="form-control">
        
        </div>

        <div class="form-group">
            <label for="username">First Name</label>
            <input type="text" name="first_name" id="first_name"  class="form-control">
        
        </div>

        <div class="form-group">
            <label for="username">Last Name</label>
            <input type="text" name="last_name" id="last_name"  class="form-control">
        
        </div>

        
        <div class="form-group">
            <label for="username">Email</label>
            <input type="text" name="email" id="username"  class="form-control">
        
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password1" id="password"  class="form-control">           
        </div>

        <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" name="password2" id="password"  class="form-control">           
        </div>


        <a href="{% url 'login' %}">Login</a>

     
        <button class="btn btn-success mt-3" type="submit">Submit</button>

    </form>
</div>

{% endblock %}
